<h1>
    Contact Me <small>We should grab a drink!</small>
</h1>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <p>&nbsp;</p>
        <p>
            <a href="mailto:joshbula@gmail.com" target="_blank">joshbula@gmail.com</a>
        </p>
        <p>
            <a href="https://twitter.com/joshbula" target="_blank">Twitter @joshbula</a>
        </p>
        <p>
            <a href="https://www.facebook.com/joshbula" target="_blank">Facebook.com/JoshBula</a>
        </p>
        <p>
            <a href="https://www.instagram.com/joshbula/" target="_blank">Instagram @joshbula</a>
        </p>
        <p>
            <a href="#/">joshbula.com</a>
        </p>
        <p>
            <a href="http://djjoshuabula.com" target="_blank">DJJoshuaBula.com</a>
        </p>
    </div>
    <div class="col-md-6 col-sm-6">
        <img src="assets/images/joshbulawine.jpg" class="img-responsive" />
    </div>
</div>
