<p>
    Hi, I'm Josh!
</p>
<p>
    I'm currently the web developer and director of information technology for the <a href="http://cfaefl.org" target="_blank">Center for Fine Arts Education</a>, where I write and maintain
    websites and applications for the <a href="http://FloridaMusicEducation.org" target="_blank">Florida Music Education Association</a>, <a href="http://FloridaSchoolMusic.org" target="_blank">Florida School Music Association</a>,
    and the <a href="http://faea.org" target="_blank">Florida Art Education Association</a>. In addition to full-stack web development, I take care of all desktop support and network administration duties for the CFAE office and staff.
</p>
<p>
    Prior to working for CFAE, I was a high school band director for 10 years in Alachua, Brevard, and most recently Leon High School.
    I have PhD and Bachelor degrees in Music Education from Flordia State University, and a Masters in Music Conducting from the University of South Florida.
</p>
<p>
    "What's with all the music stuff? I thought you were a web developer!?" Yeah, I've been obsessed with both music and computers since I was in middle school, and building websites as a hobby since 1992. When I quit teaching to work on
    my PhD I got a part-time job as a web developer at FSU to pay my mortgage. FMEA found out and hired me away to do their website, and I gradually took over the entire CFAE I.T. department.
</p>
<p>
    I currently live in Tallahassee with my pit bull mix Marty. Some other interests include running, dog training, wine, craft beer, whisky, and electronic dance music--I was a House Music Club DJ for over 17 years.
</p>