<h2>Education</h2>
<p>
    <strong>PhD in Music Education</strong>
    <br />
    Florida State University, 2011
    <br />
    Focus: Commercial Music, Recording and Production, Non-Traditional Music Students
    <br />
</p>
<p>
    <strong>Master of Music: Instrumental Conducting</strong>
    <br />
    University of South Florida, 2001
    <br />
    Focus: Band, Wind Enemble, Chamber Ensemble, and Orchestral Conducting
</p>
<p>
    <strong>Bachelor of Music Education</strong>
    <br />
    Florida State University, 1997
    <br />
    Focus: Band, Percussion
</p>


<h2>Work Experience</h2>
<table class="table table-condensed ">
    <tbody>
        <tr>
            <td width="111" valign="top"><div align="right" width="150px">2009-Present</div></td>
            <td width="424" valign="top">
                <p>
                    <strong>Center for Fine Arts Education</strong>
                    <br />
                    (Florida Music Education Association, Florida School Music Association, and Florida Art Educators Association)
                    <br />
                    Web Development, Director of Information Technology
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><div align="right">2008-2009</div></td>
            <td valign="top">
                <strong>
                    Claude Pepper Center for Intercultural Dialogue
                    <br />
                    (FSU College of Social Sciences)
                </strong>
                <br />
                Web Development: Front-end and Drupal, Office Desktop Support
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">2002-2008</p></td>
            <td valign="top">
                <p>
                    <strong>Leon</strong><strong> High School  </strong>Tallahassee, Florida  <br />
                    Teacher/Director of Bands
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">2002-Present</p></td>
            <td valign="top">
                <p>
                    <strong>Freelance Web Design and Technical Support</strong><br />
                    <br />
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">2004-2008</p></td>
            <td valign="top">
                <p>
                    <strong>
                        Florida Bandmasters Association <br />
                    </strong>District Chairman (Volunteer Position, Non Profit Organization)
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">2004-Present</p></td>
            <td valign="top">
                <p>
                    <strong>Florida</strong><strong> Bandmasters Association</strong>  <br />
                    Web Designer and Technology Chairman (Volunteer Position)
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">June 2004</p></td>
            <td valign="top">
                <p>
                    <strong>Florida</strong><strong> State University</strong><strong> Summer Music Camps</strong>
                    <br />
                    Guest Conductor for High School Band Camp
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">June 2003</p></td>
            <td valign="top">
                <p>
                    <strong>Florida</strong><strong> State University</strong><strong>
                        Summer Music Camps  <br />
                    </strong>Rehearsal Assistant/Teacher
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">2001-2002</p></td>
            <td valign="top">
                <p>
                    <strong>Bayside High School  </strong>Palm Bay, Florida  <br />
                    Teacher/Director of Bands
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">2000-2001</p></td>
            <td valign="top">
                <p>
                    <strong>University of South</strong><strong> Florida</strong> Tampa, Florida <br />
                    Graduate Teaching Assistant, School of Music
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">1997-2000</p></td>
            <td valign="top">
                <p>
                    <strong>Newberry</strong><strong> High School  </strong> Newberry, Florida   <br />
                    Teacher/Director of Bands
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">Spring 1997</p></td>
            <td valign="top">
                <p>
                    <strong>Boone</strong><strong> High School</strong>  Orlando, Florida   <br />
                    Intern/Student Teacher
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">1994-1997</p></td>
            <td valign="top">
                <p>
                    <strong>Leon</strong><strong> High School</strong>   Tallahassee, Florida   <br />
                    Band Assistant: Percussion Instructor
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">1995-1997</p></td>
            <td valign="top">
                <p>
                    <strong>Tallahassee Symphony Youth Orchestra </strong><br />
                    Percussion Coach
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">1986-1990</p></td>
            <td valign="top">
                <p>
                    <strong>WPXE-FM/WEAG-FM  </strong>Starke, FL  <br />
                    Air Personality/Voice Talent/Board Operator
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top"><p align="right">1985-1992</p></td>
            <td valign="top">
                <p>
                    <strong>Starke Power Equipment</strong>  Starke, Florida  <br />
                    Retail Sales and Small Engine Mechanic
                </p>
            </td>
        </tr>
    </tbody>
</table>