<h1>Skills</h1>

<dl class="dl-horizontal">
    <dt>Server Side:</dt>
    <dd>ASP.NET, C#, Visual Basic, Visual Studio, Entity Framework, Web API, MVC, WebForms, Microsoft SQL Server, T-SQL, and Crystal Reports</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Client-Side:</dt>
    <dd>HTML 5, CSS, Javascript, jQuery, AngularJS, Durandal, Knockout, Bootstrap</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Mobile:</dt>
    <dd>Apache Cordova. I did an app in Objective-C once, but I'm all javascript and Cordova now. I might start learning Xamarin if Microsoft starts including it with the MSDN subscription.</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Content Management: </dt>
    <dd>Umbraco, WordPress, DotNetNuke</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Network Admin.: </dt>
    <dd>Networking, Windows Server, Active Directory, Hyper-V, Untangle NG</dd>
</dl>